<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <span>YEN：</span>
    <input type="text" v-model="yen">
    <span>NTD：</span>
    <input type="text" v-model="ntd">
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    new Vue({
      el: '#app',
      data: {
        yen: 0,
        tax: 0.28
      },
      computed: {
        ntd: {
          get(){
            // 四捨五入
            return Math.round(this.yen * this.tax);
          },
          set(num){
            this.yen = Math.round(num / this.tax);
          }
        }
      }
    });
  </script>
</body>
</html>