<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <input type="text" v-model="input">
    <button @click="add">add</button>
    <ul>
      <li v-for="(brand, i) in brands" @click="del(i)">{{i}}{{brand}}</li>
    </ul>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    new Vue({
      el: '#app',
      data: {
        brands: [
          'Benelli',
          'Ducati',
          'Honda',
        ],
        input: ''
      },
      methods: {
        add(){
          this.brands.push(this.input);
          this.input = '';
        },
        del(i){
          // 從 i開始刪除 1個
          this.brands.splice(i, 1);
        }
      }
    });
  </script>
</body>
</html>